@import "../../assets/style/colors/colors.scss";
@import "../../assets/style/fonts/fonts.scss";

.header {
  height: 90px;
  background-color: $blue;
  margin-bottom: 64px;
  position: relative;
  &__container {
    width: 82.8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
  }
  &__title {
    font-family: Inter;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: $white;
    margin: 0;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
  }

  &__searchBlock {
    transition: all 0.7s ease-out;
    cursor: pointer;
    background-color: #1e1e1e;
    width: 335px;
    height: 56px;
    border-radius: 16px;
    border: 1px solid #118eea;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-left: 16px;
    padding-right: 20px;
  }
  &__inputSearch {
    border: none;
    outline: none;
    background-color: transparent;
    width: 200px;
    height: 24px;
    color: #6b7fa3;
    font-weight: 400;
    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1000px) {
  .header {
    & h1 {
      opacity: 0%;
    }
  }
}
